CONFIG_XAPRC001_PROV=y
CONFIG_RAM_256MB=y
CONFIG_DDR3=y
CONFIG_SDHC_VOLTAGE_1_8=y
CONFIG_DEBUG=y
CONFIG_SCLK_BYPASS=y
CONFIG_NOFLASH=y
CONFIG_CONFIG_JUMP_ADDR=0x26f00000
# CONFIG_ENTER_NWD is not set
